.experience-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:16px 64px;
    padding: 16px;
}

.experience-item div {
    width: 600px;
}

.experience-item img {
    width: 200px;
}

.experience-item:hover .see-more-modal {
    visibility: visible;
    opacity: 1;
}

.see-more-modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 32px;
    left: 45%;
    transition: visibility 0s, opacity 0.2s linear;
}