.home-background {
    position: absolute;
    background-color: rgba(0,0,0, .8);
    width: 100%;
    height: 100vh;
}

.home-container{
    color: #FFF;
    margin: 0 10%;
}

.home-image-container{
    background-image: url(../resources/foto-cv.jpeg);
    width: 20vw;
    height: 20vw;
    background-size: cover;
    border-radius: 50%;
    border :2px solid gray;
    margin: 5vh 10% 0 10px;

}

.language-layer {
    background: url(https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/4/2018/10/iStock-661289636-1024x683.jpg);
    position :absolute;
    top:0;
    right: 0;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100%;
    z-index: -10;
}

.background-layer {
    background: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29kaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
    position :absolute;
    top:0;
    right: 0;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100%;
    z-index: -10;
}

.buttons-container{
    width: max-content;
    margin: auto;
}
.home-welcome{
    font-family: 'Crete Round', serif;
    display: inline-block;
    color: bisque;
    font-size: 7vw;
    border-bottom: groove;
    vertical-align: top;
    margin-top: 8.5vw;
}

.home-text {
    margin: 10vh 0;
    font-size: 6vw;
}

.home-input-name {
    height: 4vw;
    width: 25vw;
    font-size: 2vw;
}

.home-input-name-container {
    width: max-content;
    margin: auto;
}
.end {
    font-size: 7vw;
}

.end-text {
    font-size: 3vw;
}

@media (max-width:900px) { 
    .home-input-name {
        height: 8vw;
        width: 30vw;
        font-size: 2vw;
    }
    .home-input-name-container {
        width: 30vw;
    }
}