body {
  color : var(--dark-main-color)
}

.btn {
  cursor: pointer;
  color: var(--dark-main-color);
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  height: max-content;
  padding: 8px;
  transition: .5 all ease;
}

.btn:hover {
  background-color: var(--ultra-light-main-color);
}

.btn-primary {
  background-color: var(--light-main-color);
  color: #FFF;
  font-weight: 300;
  padding: 12px 16px;
}

.btn-primary:hover {
  color: var(--dark-main-color);
}

.box-shadow {
  box-shadow: var(--dark-main-color) 0 14px 22px -29px;

}

.title {
  color: var(--dark-main-color);

}

h1 {
  margin: 1em
}

.section-container {
  margin:64px 100px
}

h4 { 
  color: var(--light-main-color);
  margin:0
}

ul {
  list-style-type: none;
}